/*global classes*/
.black-txt{
  color:#2c2c2c!important;
}
.fl-r{
  float: right;
}
.pink-bg{
  background-color: #fab2d6!important;
}
.br2{
  border-radius: 2px!important;
}
.red-bg{
    background-color: #e53e2b;
}
.white-bg{
  background-color:#fff!important;
}
.cust-btn{
  padding: 10px 0 ;
  border: none;
}
.cus-border-btn{
  border: 1px solid ;

    background: none;
}
.ml-10{
  margin-left: 10px!important;
}
.mr-10{
  margin-right: 10px!important;
}
a:hover {
    text-decoration: none;
}
.my-plan .cus-alert {
    margin: 10px 0 0 0;
}
.cus-alert [class*='-bg']{
padding: 2px 10px;

}
.to-do .cus-border-btn:hover {
    border: 1px solid #fff;
}
.red-txt{
  color: #e53e2b!important;
}
.grey-txt{
  color: #777777;
}
.dsb{
  display: block;
}
.cus-dark-grey {
    background: #494949!important;
}
.cus-light-grey {
    background: #eaeaea!important;
}
.flt-left {
    float: left!important;
}
.white-txt{
  color:#fff!important;
}
.center-align{
  text-align: center!important;
}
.right-align{
  text-align: right!important;
}
.green-txt{
  color:#3ab174!important;
}
.fs-16{
  font-size: 16px;
}
.fs-14{
  font-size: 14px;
}
.bd-ri{
    border-right: 1px solid rgba(255, 255, 255, 0.10);
}
.bd-le{
    border-left: 1px solid rgba(0,0,0,0.20);
}
.header-margin{
      padding: 23px 20px!important;
}
.m-0{
  margin: 0!important;
}
.p-0{
  padding:0!important;
}
.blue-bg, .custom-layout .modified .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .modified .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .modified .page-sidebar .page-sidebar-menu > li.active > a, .modified .page-sidebar .page-sidebar-menu > li.active.open > a{

  background-color:#4E9DE0!important; 
}
.pt-15{
padding-top: 15px!important;
}
.pr-15{
  padding-right: 15px!important;
}
.pb-15{
padding-bottom: 15px!important;  
}
.pl-15{
padding-left: 15px!important;
}

.mt-15{margin-top:15px!important; }
.mr-15{margin-right:15px!important; }

.round-btn {
    padding: 7px 20px!important;
    border-radius: 20px!important;
}
.leave-status .list-group-item {
    border-left: none;
    border-right: none;
}
.list-group-item:first-child {
    border-top: none;
}
.nav-tabs > li.green-active.active {
    border-bottom: 4px solid #3ab174;
}
.green-bg{
 background-color: #3ab174; 
}
.btn-group.open .dropdown-toggle{
  box-shadow: none;
}
/*global classes ends*/
.connect .alert.alert-info.black-txt {
    padding: 10px;
}
.connect table {
    margin-bottom: 10px;
}
.fc-event, .brn {
    border: none;
}
.custom-layout .page-sidebar .page-sidebar-menu > li > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i {
    font-size: 16px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username:hover {
    color: #555!important;
}
.custom-layout .page-sidebar .page-sidebar-menu > li > a > .title{
display: inline-block;
    margin: 0;

}
.dropdown-user a.dropdown-toggle:hover * {
    color: #555!important;
}
.custom-layout .page-sidebar .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before{
  margin-top: 0;
}
.custom-layout .page-sidebar .page-sidebar-menu > li > a{text-align: left;}
.custom-layout .page-sidebar .page-sidebar-menu > li.active > a > .selected{    
    top: 8px;
    border-right: 12px solid #EAEAEA;
  }
.custom-layout .page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    min-height: auto;
    padding: 10px 15px 10px 15px;
 
}
.custom-layout .page-header.navbar .page-logo {
    text-align: center;
    width: 190px;

}

.custom-layout .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"], .page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"] {
    color: #fff;
}
.custom-layout .page-header.navbar .page-logo .logo-default {
    margin: 14px 0 0 0;
}
.custom-layout .page-header.navbar .page-logo > a {
    float: none;
    display: initial;
}
.page-sidebar .page-sidebar-menu > li:hover > a{
      background-color: rgba(78, 157, 224, 0.42);
}

.page-header.navbar .page-actions {
    float: left;
    margin: inherit;
}
.page-header.navbar .menu-toggler.sidebar-toggler {
    height: 68px;
    opacity: 1;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
    background-color: #f9fafc;
}
i[class*="fa-"] {
    margin: 0 4px 0 1px;
}
.my-plan button {
    background: none;
    border: none;
}
.my-plan .fc-state-active {
    box-shadow: none;
    border-bottom: 2px solid #4E9DE0;
}
.birthday .portlet-title .caption {
    padding: 20px 20px!important;
}
.birthday .input-medium {
    width: 100px !important;
    margin: 13px 10px 0 0;
}
#name_2::-webkit-input-placeholder,
#textarea_2::-webkit-input-placeholder
{
  color: #2c2c2c;
}

/*closed sidebar rules*/
.custom-layout.page-sidebar-closed .page-sidebar .page-sidebar-menu > li.active > a > .selected {
    top: 17px;
    border-right: 0;
}
.custom-layout.page-sidebar-closed .page-sidebar .page-sidebar-menu > li > a > i{
    font-size: 26px;
}
.page-sidebar-closed li.nav-item.start.active .nav-toggle > i {
    line-height: 27px;
}
.page-sidebar-closed li a.nav-link.nav-toggle {
    text-align: center;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu > li:hover > a{
background-color: #4E9DE0;
}
/*closed sidebar rules ends*/

/*material styles*/
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.waves-notransition {
  transition: none !important;
}

.waves-circle {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}

.waves-block {
  display: block;
}
table.table-light > tbody > tr > td .user-pic {
    border-radius: 100px!important;
}
/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
  z-index: -1;
}
.z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.14),0 2px 10px 0 rgba(0,0,0,0.10);
}
.z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.z-depth-4{
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}
.z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);
}
.z-depth-1-half, .cust-btn:hover, .round-btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

/*material ends*/

.portlet.light > .portlet-title > .cus-alert.caption {

}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a, .page-sidebar .page-sidebar-menu > li > a {
    border-top: 1px solid rgba(255, 255, 255, 0.11);
    color: #f2f4f6;
}






/*
.custom-layout .datepicker-dropdown:after {
    content: '';
    display: inline-block;
    border-left: 6px solid rgb(0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-bottom: 6px solid rgba(0, 0, 0, 0);
    border-top: 6PX SOLID rgba(0, 0, 0, 0);
    position: absolute;
}
*/


















/*media quireies*/
@media (min-width: 992px){
.page-sidebar  {
    width: 190px;
 }
 .page-content-wrapper .page-content {
    margin-left: 190px;
 }
 .custom-layout.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo .logo-default {
    display: block;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
    width: 60px !important;
}
.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
    width: 60px;
}
.page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 60px !important;
}
}