<div style="max-width:800px;">
    <div style="height:40px; width:100%; background-color:#1EB98F; "> 
        <img width="50" src="" alt="IJPOT" style="margin-left:15px;" />
        <h4 style="float:right; margin-right:20px; color:#FFFFFF;">We makes the learning fun!</h4> 
    </div>
    <div style="background:#fff; padding:10px; padding-bottom:0px; border:solid; border-color:#1EB98F; border-width:7px; ">
        
        
        
        <h3>Dear [USERNAME]</h3>
        
        <h4>MS#: [PAPERID]</h4>
        <h4>MS TITLE: [TITLE]</h4>
        <h4>Author(s): [AUTHORS]</h4>
        <p style="line-height:20px; text-align:justify; text-justify:inter-word; word-wrap:break-word;">We are pleased to inform that based on the reviewer's feedback; your manuscript is accepted for publication in the International Journal of Photonics and Optical Technology (IJPOT) in the present form.</p>

        <p>As soon as possible we will send to you the galley proofs.</p> 
        <p style="margin-top:10px;">With many thanks and best regards</p>
        
        <p style="margin-top:20px;">Sincerely,</p>
       	<p>
        	Associate Editor<br />
			International Journal of Photonics and Optical Technology (IJPOT)<br />
			editor@ijpot.org<br />
		</p>
       	<div style="padding-top:10px; text-align:center; word-spacing:5px; padding-bottom:15px;" >
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/x0ZfK4N.png" /></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/L73t1Zl.png" /></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/xtwIQGh.png" /></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/glTQ1DX.png" /></a>
        </div>
    </div>
</div>
