<div style="max-width:800px;">
    <div style="height:40px; width:100%; background-color:#1EB98F; "> 
        <img width="50" src="" alt="IJPOT" style="margin-left:15px;" />
        <h4 style="float:right; margin-right:20px; color:#FFFFFF;">We makes the learning fun!</h4> 
    </div>
    <div style="background:#fff; padding:10px; padding-bottom:0px; border:solid; border-color:#1EB98F; border-width:7px; ">
        
        
        
        <h3>Dear [REVIEWER]</h3>
        
        <h4>MS#:[PAPERID]</h4>
        <h4>MS TITLE:[TITLE]</h4>
        <p>The above manuscript has been submitted to the International Journal of Photonics and Optical Technology (IJPOT). </p>
        <p style="line-height:20px; text-align:justify; text-justify:inter-word; word-wrap:break-word;">We would very much appreciate it if you could help us by reviewing the above referenced manuscript and advise us of its suitability for publication in the International Journal of Photonics and Optical Technology (IJPOT). Your assistance in this matter is greatly appreciated. Please perform your article review, so that the article level published in our journal must correspond to very high level. We greatly value your advice as an authority in the field.  By reviewing the paper, you are performing a service for the author, the IJPOT's readers, and the profession.</p>

        <p>The review itself is due: <a href="[URL]" style="color:#1eb98f; text-decoration:none;">Review Form</a></p> 
        <p>The abstract of this work follows:</p>
        <p style="line-height:20px; text-align:justify; text-justify:inter-word; word-wrap:break-word;">[ABSTRACT]</p>
        <p style="margin-top:20px;"><span style="font-size:18px;"><b>Sincerely,</b></span></p>
       	<p>
        	Associate Editor<br />
			International Journal of Photonics and Optical Technology (IJPOT)<br />
			editor@ijpot.org<br />
		</p>
        <p>Link of the Paper:</p>
        <a href="[PAPERLINK]" style="color:#1eb98f; text-decoration:none;" download>Click Here</a> 
        
    	<div style="padding-top:10px; text-align:center; word-spacing:5px; padding-bottom:15px;" >
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/x0ZfK4N.png" /></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/L73t1Zl.png" /></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/xtwIQGh.png" /></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/glTQ1DX.png" /></a>
        </div>
    </div>
</div>
