<div style="max-width:800px;">
    <div style="height:40px; width:100%; background-color:#1EB98F; "> 
        <img width="50" src="http://i.imgur.com/fcC118b.jpg" alt="IJPOT" style="margin-left:15px;" />
        <h4 style="float:right; margin-right:20px; color:#FFFFFF;">We makes the learning fun!</h4> 
    </div>
    <div style="background:#fff; padding:15px; padding-bottom:0px; border:solid; border-color:#1EB98F; border-width:7px; ">
        
        
        
        <h3>Hello [NAME]</h3>
        <p>We have received your query and will contact you within three business days.</p>
        <p>Your contact details are as below:</p>
        <p>Phone: [PHONE]<br>Email: <a style="color:#1EB98F" href="mailto:surendra.vimal27@gamil.com">[EMAIL]</a></p>
        
        
        <p style="margin-top:40px;">Regards-<br><span style="font-size:18px;"><b>Team IJPOT </b></span></p>
    	<div style="padding-top:10px; text-align:center; word-spacing:5px; padding-bottom:15px;" >
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/x0ZfK4N.png" /></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/L73t1Zl.png" /></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/xtwIQGh.png" /></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/glTQ1DX.png" /></a>
        </div>
    </div>
</div>
