<div style="max-width:800px;">
    <div style="height:40px; width:100%; background-color:#1EB98F; "> 
        <img width="50" src="" alt="IJPOT" style="margin-left:15px;" />
        <h4 style="float:right; margin-right:20px; color:#FFFFFF;">We makes the learning fun!</h4> 
    </div>
    <div style="background:#fff; padding:10px; padding-bottom:0px; border:solid; border-color:#1EB98F; border-width:7px; ">
        
        
        
        <h3>Dear [USERNAME]</h3>
        
        <h4>MS#: [PAPERID]</h4>
        <h4>MS TITLE: [TITLE]</h4>
        <h4>Author(s): [AUTHORS]</h4>
        <p style="line-height:20px; text-align:justify; text-justify:inter-word; word-wrap:break-word;">The International Journal of Photonics and Optical Technology (IJPOT) is targeting a very high standard and large numbers of good papers are being declined. On the basis of the reviewer’s feedback, we regret to inform you that your paper will not be accepted for publication.</p>
        <p style="line-height:20px; text-align:justify; text-justify:inter-word; word-wrap:break-word;">We hope that you do not take this decision as a negative reflection on you or your work in general, and that you will find the reviewers' comments and suggestions as useful feedback. We hope that you will continue to submit your future work to us for publication.</p>

        <p style="margin-top:20px;">Sincerely,</p>
       	<p>
        	Associate Editor<br />
			International Journal of Photonics and Optical Technology (IJPOT)<br />
			editor@ijpot.org<br />
		</p>
        <p style="margin-top:10px;"><b>1st Reviewer Comments:</b></p>
        [COMMENT1]
        <p style="margin-top:10px;"><b>2nd Reviewer Comments:</b></p>
        [COMMENT2]
		<p style="margin-top:10px;"><b>3rd Reviewer Comments:</b></p>
        [COMMENT3]

       	<div style="padding-top:10px; text-align:center; word-spacing:5px; padding-bottom:15px;" >
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/x0ZfK4N.png" /></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/L73t1Zl.png" /></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/xtwIQGh.png" /></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/glTQ1DX.png" /></a>
        </div>
    </div>
</div>
