<div style="max-width:800px;">
    <div style="height:40px; width:100%; background-color:#1EB98F; "> 
        <img  src="" alt="IJPOT" style="margin-left:15px;" />
        <h4 style="float:right; margin-right:20px; color:#FFFFFF;">We makes the learning fun!</h4> 
    </div>
    <div style="background:#fff; padding:15px; padding-bottom:0px; border:solid; border-color:#1EB98F; border-width:7px; ">
                
        <h3>Hello [NAME]</h3> <p>You are just one step away  from entering the world of IJPOT, please click below button to login.</p>
        <a target="_blank" href="[URL]" style="text-align:center; background-color:#1EB98F; color:#ffffff; width:150px; padding:6px 10px; border-radius:5px; margin-top:30px; text-decoration:none;">Login</a>
        <h3 style="text-align:center;">OR</h3>
        <p>Copy paste below link in your browser<br> <a target="_blank" href="[URL]">[URL]</a> <br />And your password is <b>[PASSWORD]</b></p>
        
        
        
        <p style="margin-top:50px;">Happy Learning!<br><span style="font-size:18px;"><b>Team IJPOT</b></span></p>
        <!--<p style="margin-top:40px;">Regards-<br><span style="font-size:18px;"><b>Team Geeksdemy</b></span></p>-->
    	<div style="padding-top:10px; text-align:center; word-spacing:5px; padding-bottom:15px;" >
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/x0ZfK4N.png"></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/L73t1Zl.png"></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/xtwIQGh.png"></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/glTQ1DX.png"></a>
        </div>
    </div>
</div>