<div style="max-width:800px;">
    <div style="height:40px; width:100%; background-color:#1EB98F; "> 
        <!-- <img  src="" alt="RMS" style="margin-left:15px;" /> -->
        
        <h4 style="float:left; margin-left:8px; color:#FFFFFF;">RMS Construction</h4> 
    </div>
    <div style="background:#fff; padding:15px; padding-bottom:0px; border:solid; border-color:#1EB98F; border-width:7px; ">
                
        <h3>Hello [NAME]</h3> <p>Welcome to RMS Construction! You are just one step ahead to see your inventory status, please click below button to confirm your registration.</p>
        <a target="_blank" href="[URL]" style="text-align:center; background-color:#1EB98F; color:#ffffff; width:150px; padding:5px; border-radius:5px; margin-top:30px; text-decoration:none;">Confirm Registration</a>
        <h3 style="text-align:center;">OR</h3>
        <p>Copy paste below link in your browser<br> <a target="_blank" href="[URL]">[URL]</a> <br />And your password is <b>[PASSWORD]</b></p>
        
        








        
        <p style="margin-top:50px;"><span style="font-size:18px;"><b>RMS Construction Pvt.Ltd.</b></span><br>
        Sector-B,Pocket-1,Plot No-1<br>
        1st Floor Local Shopping Complex<br>
        Vasant Kunj New Delhi-110070<br>
        Tel-011-26125386-87<br>
        Fax No-011-26130652</p>

        <!--<p style="margin-top:40px;">Regards-<br><span style="font-size:18px;"><b>Team Geeksdemy</b></span></p>-->
    	<div style="padding-top:10px; text-align:center; word-spacing:5px; padding-bottom:15px;" >
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/x0ZfK4N.png"></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/L73t1Zl.png"></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/xtwIQGh.png"></a>
            <a href="#"><img style="width:30px; height:auto;" src="http://i.imgur.com/glTQ1DX.png"></a>
        </div>
    </div>
</div>